# Recursively ignore all files named "input.txt" (whatever you named it)
**/day1Data.txt
**/day2Data.txt
**/day3Data.txt
**/day4Data.txt
**/input.txt

# Recursively ignore all files matching ".txt"
**/*.txt